/* shared style */
body{
    font-family: 'Merriweather', serif;
    
}

.header{
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url('../image/resources/Banner\ Image.png'); 
    align-items: center;
    background-position: center;
    margin: 20px 60px;
    border-radius: 10px; 
    background-repeat: no-repeat;
    background-size: auto; 
    width: 90%;
    height: 600px;
    display: flex;
    

}

.banner-content{
    justify-items: center;
    
}
.banner-greeting{
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    padding-top: 177px;
   
}
.banner-title{
    font-weight: 900;
    color: #ffffff; 
    font-size: 72px;
    line-height: 95px;
    text-align: center;
    padding-left: 344px;
    padding-right: 344px;
    padding-bottom: 177px;
}
/* off styles */
    img{
        
            display: block;
            margin-left: auto;
            margin-right: auto;
         
    }
    .off{
        text-align: center;
        color: #ff0000;
        font-family: "Inter-Bold", Helvetica;
        font-size: 80px;
        font-weight: 700;
    }
    .holiday-deals{
        text-align: center;
        color: #ff0000;
        font-family: "Inter-Medium", Helvetica;
        font-size: 20px;
        font-weight: 500;
    }
    .categories{
        text-align: center;
        font-family: "Inter-Bold", Helvetica;
        color: #070211;
        font-size: 40px;
        font-weight: 700;
        margin-top: 5px;
    }
    .welcome{
        background-image: url(../image/resources/Vectorrr.png);
        background-repeat: no-repeat;
        background-size: auto; 
        margin: 20px 60px;
        border-radius: 10px;
        width: 90%;
        height: 600px;
        display: flex;
    }
    .welcome-greeting{
        font-family: "Merriweather-Black", Helvetica;
        font-weight: 800;
        color: #ffffff;
        font-size: 60px;
        letter-spacing: 7.04px;
        line-height: 88px;
    }
    .welcome-description{
        font-family: "Inter-Regular", Helvetica;
        font-weight: 400;
        color: #ffffffcc;
        font-size: 18px;
    }
    .btn-primary{
        font-family: "Inter-Bold", Helvetica;
        font-weight: 500;
        font-size: large;
        color: #ffffff;
        background-color: #000000;
        text-decoration: none;
    }
    .welcome-year{
        height: 500px;
        width: 320px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .welcome{
        padding: 30px 30px 0px 150px;
        display: flex;
        justify-content: space-between;
    }